@font-face {
    font-family: "Runescape_uf";
    src: url('./fonts/runescape_uf.woff');
}

* {
    box-sizing: border-box;
}

p {
    text-align: center;
}

.fontSmall {
    font-size: 12px;
    padding-top: 6px;
}

body {
    margin: 0;
    font-family: Runescape_uf, "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff200;
    letter-spacing: 1.5px;
    background-color: #212121;
}

.header {
    background-color: #54c0d6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232353b0' fill-opacity='0.42' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    min-height: 30px;
}

select {
    background-color: #473f34;
    color: #d8985b;
    border-bottom:  3px solid rgba(0,0,0,.7);
    border-right: 3px solid rgba(0,0,0,.7);
}
.bossContainer {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width:92px;
    margin-top: 10px;
    background-color: #473f34;
    color: #d8985b;
    border-bottom:  3px solid rgba(0,0,0,.7);
    border-right: 3px solid rgba(0,0,0,.7);
    text-indent: 3px;
    text-align: center;
}

#kph {
    width: 8em;
}

h1 {
    font-size: 32px;
    text-shadow: 2px 2px #333;
    margin-top: 100px;
    font-weight: 600;
    letter-spacing: 3px;
}

h1 span {
    color: white;
}

#stopwatch {
    min-width: 225px;
    width: 25%;
    padding: 10px 5px 5px;
    margin-bottom: 10px;
    background-color: #493d3d;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border-bottom:  3px solid rgba(0,0,0,.7);
    border-right: 3px solid rgba(0,0,0,.7);
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

.lootTable {
    min-width: 615px;
    padding: 5px;
    background-color: #493d3d;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border-bottom:  3px solid rgba(0,0,0,.7);
    border-right: 3px solid rgba(0,0,0,.7);
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

.lootTable tr {
    background-color: rgba(0,0,0,0.5);
}

.lootTable td {
    min-width: 38px;
    width: 55px;
    height: 100px;
}

.lootTable td:nth-child(even) {
    background-color: rgba(219,203,163, 0.3);
}

.item-display {
    display: flex;
    flex-direction: column;
    width: 55px;
    height: 100px;
}

.darker-bg {
    background-color: rgba(219,203,163, 0.3);
}

.item-display img {
    width: fit-content;
    margin: 10 auto 0 ;
}

.item-img-container {
    height: 35px;
    width: auto;
    margin: 0 auto;
}

/* Tooltip container */
.tooltip {
    position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.counter {
    display:block;
    min-height: 20px;
    padding: 50px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    z-index: 2;
}

.lineBreak {
    border-bottom: 2px solid #d8985b;
    margin: 10px 0;
}

.spinnerContainer {
    display: block;
    margin: 0 auto;
    z-index:1;
    width: 100px;
}

.spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff200+0,000000+100&1+0,0+77 */
    background: -moz-linear-gradient(top, rgba(255,242,0,1) 0%, rgba(59,56,0,0.5) 77%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,242,0,1) 0%,rgba(59,56,0,0.5) 77%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,242,0,1) 0%,rgba(59,56,0,0.5) 77%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff200', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.spinner:after {
    position: absolute;
    display: block;
    background:#493d3d;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

.spinnerAnim {
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    from {}
    to {
        transform: rotate(360deg);
    }
    }
}

#stopwatch button {
    margin: 0 5px;
    text-align: center;
    flex-grow: 1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .butt {
    flex-direction:row;
    margin: 0 auto;
    max-width: 250px;
}

.container .butt button {
    flex-grow: 1;
}

.container .butt button:last-child {
    flex-grow: 1;
    background: rgba(0,0,0,.1);
}

.container .butt button:hover {
    background: #56472c;
    text-decoration: none;
}

li {
    margin-bottom: 5px;
}

.inputs {
    margin: 5px;
    background-color: rgba(219,203,163, 0.3);
    padding: 10px;
    border-radius: 4px;
}

.total {
    background: rgba(0,0,0,0.5);
    margin: 10px 5px 5px;
    padding: 1em 0;
}

.btn {
    color: white;
    border: 3px solid rgba(0,0,0,.7);
    background: rgba(0,0,0,.7);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-shadow: 2px 2px #333;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 5px;
}

.error {
    display: none;
}

.error-container {
    display: none;
    height: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.flex-container {
    max-width: 75%;
    padding: 5px;
    background-color: #493d3d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 6px;
    border-bottom:  3px solid rgba(0,0,0,.7);
    border-right: 3px solid rgba(0,0,0,.7);
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
    margin: 0 auto;
}